.image {
    height: 30px;
    width: 30px;
    padding: 2px;
}

.first-image {
    height: 30px;
    width: 30px;
    padding: 2px;
    margin-left: 14px;
}

.name {
    font-size: 68px;

}

.br-adj {
    display: block;
    content: "";
    margin-top: 7px;
}
